<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://kit.fontawesome.com/3f42e8ba38.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title>Theia | Video Production in Tokyo</title>
		<meta name="description" content="Theia is a Tokyo-based creative group focused on video production. Our mission is to help brands reach a foreign audience.">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
		<link rel="manifest" href="{{ url_for('static', filename='favicon_package_v0.16/site.webmanifest') }}">
		<link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body id="home" data-spy="scroll" data-target="#main-nav">

		<!-- start here -->

		<nav class="navbar navbar-expand-md navbar-dark fixed-top py-4" id="main-nav">
			<div class="container">
				<a href="#home" class="navbar-brand">
					<img src="{{ url_for('static', filename='img/theia_logo.svg') }}" width="132" height="66" alt="">
				</a>
				<button class="navbar-toggler" data-toggle="collapse" data-target="navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a href="#home" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="#about" class="nav-link">About</a>
						</li>
						<li class="nav-item">
							<a href="#team" class="nav-link">Team</a>
						</li>
						<li class="nav-item">
							<a href="#contact" class="nav-link">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<header id="home">
			<div class="overlay"></div>
			<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
				<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
			</video>
			<div class="container h-100">
				<div class="d-flex h-100 text-center align-items-center">
					<div class="w-100 text-white">
						<h1 class="display-3">Video Production</h1>
						<p class="lead mb-0">A Tokyo Based Creative Group</p>
					</div>
				</div>
			</div>
		</header>

		<!-- About / Why -->

		<section id="about" class="bg-dark py-4 text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="info-header">
							<p class="lead text-white pt-3">
								Some of Japan's leading brands trust Theia to craft their videos
							</p>
						</div>
					</div>
					<div class="col-md-8" id="clientLogos">
						<img src="{{ url_for('static', filename='img/white_logos.png') }}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</section>

		<section id="about" class="py-5">
			<div class="container">
				<div class="info-header mb-5 text-center">
					<h1 class="pb-3 pt-5" style="color:#00bfe8">
						Our Mission
					</h1>
				</div>
				<div class="row align-items-center pb-5">
					<p id="mission" class="lead2 text-center">
						<strong>Our goal is to help Japanese brands acquire foreign business.</strong> Theia provides video production services & Youtube consulting. With a deep understanding of Youtube's algorithm, we've driven over a million views across personal & client channels.
					</p>
				</div>
			</div>
		</section>

		<section id="about" class="py-5" style="background:linear-gradient(0deg, rgba(248, 248, 248, 0.7), rgba(248, 248, 248, 0.7)), url({{ url_for('static', filename='img/sean_white.jpg')}})">
			<div class="container py-4 text-center">
				<div class="row py-5">
					<div class="col-md-12">
						<h1 class="text-black">Featured Client Work</h1>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 my-auto">
						<img src="{{ url_for('static', filename='img/eyexplore/eyexplore_on_light.png') }}" class="d-block mb-3" width="45%" alt="">
						<p>With our carefully crafted videos, we've driven 9,400 subscribers for our client EYExplore.</p>
						<a class="btn btn-warning btn-large text-white font-weight-bold mb-4" href="{{ url_for('eyexplore.eyexplore_case')}}" role="button">Read the Story</a>
					</div>
					<div class="py-5 col-md-6 align-items-center d-flex flex-wrap">
						<img src="{{ url_for('static', filename='img/eyexplore/geisha.png') }}" class="mx-auto align-middle d-block" width="90%" alt="">
					</div>
				</div>
			</div>
		</section>

		<section id="about" class="py-5">
			<div class="container py-4 text-center">
				<div class="row py-5">
					<div class="col-md-12">
						<h1 class="text-black">Featured Documentary Work</h1>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 my-auto">
						<h2>Life of a Japanese Hikikomori</h2>
						<p>5,000,000+ views. $34,000+ in Fundraising. 1 life changed.</p>
						<a class="btn btn-warning btn-large text-white font-weight-bold mb-4" href="{{ url_for('eyexplore.eyexplore_case')}}" role="button">Read the Story</a>
					</div>
					<div class="py-5 col-md-6 align-items-center d-flex flex-wrap">
						<img src="{{ url_for('static', filename='img/nito.jpg') }}" class="mx-auto align-middle d-block" width="90%" alt="">
					</div>
				</div>
			</div>
		</section>

		<!-- Newsletter -->

		<section id="newsletter" class="text-white py-4" style="background:linear-gradient(0deg, rgba(0, 191, 232, 0.7), rgba(0, 191, 232, 0.7)), url({{ url_for('static', filename='img/sean_white.jpg')}})">
			<div class="container">
				<div class="row justify-content-center">
					<h2 class="display-5 mb-3">
						Get a Free Strategy Call
					</h2>
				</div>
				<form action="https://formspree.io/mqkkqzgn" method="POST" encType="multipart/form-data">
					<div class="row">
							<div class="col-md-4">
								<input type="text" class="form-control form-control-lg mb-resp" name="Name" placeholder="Enter Name">
							</div>
							<div class="col-md-4">
								<input type="email" class="form-control form-control-lg mb-resp" name="_replyto" placeholder="Email">
							</div>
							<input type="hidden" name="_subject" value="Email List Subscribe Request">
							<input type="hidden" name="_confirmation" value="Your message has been sent!">
							<input type="hidden" name="_after" value="https://mofufilms.com">
						<div class="col-md-4">
							<button class="btn btn-warning btn-lg btn-block" style="color:white">
								<i class="fas fa-envelope"></i> Let's Talk
							</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<!-- About -->
		<section id="team" class="my-5 text-center">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="info-header mb-5">
							<h1 class="pb-3 pt-5" style="color:#00bfe8">
								Meet The Team
							</h1>
							<p class="lead">
								Your Friendly Production Crew
							</p>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="card">
							<div class="card-body">
								<img src="{{ url_for('static', filename='img/person1.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
								<h3>Sean</br>Payne</h3>
								<h5 class="text-muted">Co-Founder</h5>
								<p class="person-description">Sean brings a wealth of experience from Amazon, Telsa, and a number of startups. He also runs a Youtube Channel.</p>
								<div class="d-flex justify-content-center">
									<div class="p-4">
										<a href="https://youtube.com/c/SeanAndNami" target="_blank">
											<i id="icon" class="fab fa-youtube"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="card">
							<div class="card-body">
								<img src="{{ url_for('static', filename='img/person2.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
								<h3>Nami</br>Saito</h3>
								<h5 class="text-muted">Client Relations</h5>
								<p class="person-description">Nami bring's five years of client relations and translation work from Liverpool LFC. She also runs two Youtube channels.</p>
								<div class="d-flex justify-content-center">
									<div class="p-4">
										<a href="https://youtube.com/c/SeanAndNami" target="_blank">
											<i id="icon" class="fab fa-youtube"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="card">
							<div class="card-body">
								<img src="{{ url_for('static', filename='img/hayato.png') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
								<h3>Hayato</br>Tamura</h3>
								<h5 class="text-muted">Co-Founder & DP</h5>
								<p class="person-description">Hayato is a cinematographer & photographer with international experience spanning from Tokyo to California.</p>
								<div class="d-flex justify-content-center">
									<div class="p-4">
										<a href="https://www.youtube.com/channel/UC174Fyu2_pZJHKSAMAoQLRg" target="_blank">
											<i id="icon" class="fab fa-youtube"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
						<div class="card">
							<div class="card-body">
								<img src="{{ url_for('static', filename='img/marc.jpg') }}" alt="" class="img-fluid rounded-circle w-50 mb-3">
								<h3>Marc</br>Downing</h3>
								<h5 class="text-muted">Editor & Director</h5>
								<p class="person-description">Marc has a degree in cinema and television arts and previously directed documentaries & short films. He's also fluent in Japanese.</p>
								<div class="d-flex justify-content-center">
									<div class="p-4">
										<a href="https://www.travelermarc.com/film-work" target="_blank">
											<i id="icon" class="fab fa-vimeo-square"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Contact -->

		<section id="contact" class="bg-light py-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 mx-auto">
						<h3>Get In Touch</h3>
						<p class="lead2">Request a Free Strategy Call</p>
						<form action="https://formspree.io/mqkkqzgn" method="POST" encType="multipart/form-data">
							<div class="input-group input-group-lg mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fas fa-user"></i>
									</span>
								</div>
								<input class="form-control" type="text" name="name" placeholder="Name">
							</div>

							<div class="input-group input-group-lg mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fas fa-envelope"></i>
									</span>
								</div>
								<input class="form-control" type="email" name="_replyto" placeholder="Email">
							</div>

							<div class="input-group input-group-lg mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fas fa-pencil-alt"></i>
									</span>
								</div>
								<textarea class="form-control" placeholder="Message" name="message" rows="5"></textarea>
							</div>
							<input type="hidden" name="_honeypot" value="">
							<input type="hidden" name="_subject" value="Contact form submitted">
							<input type="hidden" name="_confirmation" value="Your message has been sent!">
							<input type="hidden" name="_after" value="https://mofufilms.com">
							<input type="submit" value="Send" class="btn btn-warning btn-block btn-lg">
						</form>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer-->

		<footer id="main-footer" class="py-5 bg-dark text-white">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 mx-auto text-center">
						<p class="lead">
							Copyright &copy; {{ year }}
						</p>
					</div>
				</div>
			</div>
		<script
  			src="http://code.jquery.com/jquery-3.4.1.min.js"
  			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  			crossorigin="anonymous">
  		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us20.list-manage.com","uuid":"0b59ab80b6a94aea1a25403b8","lid":"e64003f44b","uniqueMethods":true}) })</script>
		<script>

			// initialize Scrollspy
			$('body').scrollspy({target: '#main-nav'});

			// Smooth Scrolling
			$("#main-nav a").on('click', function (event) {
				if (this.hash !== "") {
					event.preventDefault();

					const hash = this.hash;

					$('html, body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function() {

						window.location.hash = hash;
					});
				}
			});
		</script>
	</body>
</html>
